<div
  class="backImg"
  [class.wrong]="isWrongGuess"
  [class.correct]="isCorrectGuess"
>
  <mat-progress-bar
    mode="determinate"
    value="{{ loadPercentage }}"
  ></mat-progress-bar>
  <div class="gameHeader">
    <div class="level">
      Level:<span class="levelAmount"> {{ currLevel }}</span>
    </div>
    <div class="lives">
      <div class="life" *ngFor="let life of livesArray">
        <img
          *ngIf="isLive(life)"
          src="../../assets/zivot-removebg-preview.png"
          class="heart"
        />
      </div>
    </div>
    <div class="highScore">
      Highscore:<span class="scoreValue"> {{ currHighscore }}</span>
    </div>
  </div>
  <div
    class="terrain-grid"
    [ngStyle]="{
      'grid-template-columns': getGridTemplate(),
      'grid-template-rows': getGridTemplate()
    }"
  >
    <div *ngFor="let row of pixelMatrix">
      <div
        *ngFor="let cell of row"
        [ngStyle]="{ 'background-color': getColorForHeight(cell.height) }"
        class="terrain-cell"
        (click)="guess(cell.highest)"
      ></div>
    </div>
  </div>
  <div class="gameOverScreen" *ngIf="numOfLives == 0">
    <div class="gameOverMessage">Game Over</div>
    <button class="playAgainButton" (click)="backToMainMenu()">
      Play Again
    </button>
  </div>
</div>
